@import '../../../app/mixins';

.navBar_container {
    width: 100vw;
    padding: 26px 50px 0 80px;
    @include flex (space-between, center, row);
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index:40;
    height: fit-content;
    @media (max-width : 375px) {
        padding: 10px 10px 10px 16px;
    }
}

