@import '../../../app/mixins';

.navBar_container {
    width: 100vw;
    padding: 26px 50px 0 80px;
    @include flex (space-between, center, row);
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index:40;
    height: fit-content;

    @include mediaTabPortrait {
        padding: 8px 30px 8px 36px;
        background-color: $white;
        box-shadow: 0 1.5px 1px 1px $black-25;
    };
    @media (max-width : 375px) {
        padding: 8px 10px 8px 16px;
    }
}

