@import '../../../app/mixins';

.mouse_container {
    width: 44px;
    height: 68px;
    @include flex (end, center, column);
    background-image: linear-gradient(#fff, #fff), $gradient-primary;
    border: double 1px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 18px;
    text-decoration: none;

    position: fixed;
    left: 50%;
    bottom: 52px;
    backdrop-filter: blur(1px);
    z-index: 9;

    @include mediaTabPortrait {
        display: none;
    }
    img {
        margin-bottom: 9px;
    }
}