.skill {
  @apply relative;
  padding-bottom: 100px;

  @screen lg {
    @apply flex flex-col min-h-screen;
    gap: 75px;
    padding-bottom: 0;
  }

  .swiper {
    padding-block: 30px 70px;

    @screen lg {
      @apply hidden;
    }

    li {
      @apply w-full grid grid-cols-3;
    }
  }

  .swiper-pagination-bullet {
    border: 2px solid white;
    background-color: transparent;

    &-active {
      @apply bg-white;
    }
  }


  &_content {
    @apply grid-cols-2 w-full items-start hidden;
    gap: 30px;
    @screen lg {
      @apply grid;
    }

    li {
      @apply w-full grid;
      gap: 30px;
      @apply grid-cols-2;
      width: 75%;

      &:nth-child(2) {
        @apply grid-cols-3;
        width: 100%;
      }
    }
  }
}