.service {
  @apply w-full min-h-screen flex flex-col justify-center;
  padding-block: 100px;
  gap: 40px;

  @screen md {
    padding-block: 0;
  }

  @screen xl {
    gap: 75px;
  }

  &_content {
    @apply w-full h-fit grid items-start;
    gap: 40px;

    @screen md {
      @apply justify-items-center;
    }

    @screen xl {
      @apply grid-cols-2;
    }
  }
}