.anime {
  @apply w-full h-screen top-0 left-0 flex justify-center items-center mx-auto fixed;

  svg {
    max-width: 1440px;
    @apply w-full mx-auto absolute;
    min-width: 100vw;
  }

  .rocket {
    opacity: 0.8;
    width: 100px;

    @screen lg {
      width: 150px;
    }
  }
}