@import './mixins';


.bannerLeft {
    p {
        -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.75);

        @include mediaDesktop {
            font-size: 46px;
        }

        @include mediaTabPortrait {
            font-size: 42px ;
        }

        @media (max-width : 425px) {
            font-size: 28px;
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0.75);
        }

        @media (max-width: 320px){
            font-size: 22px;
        }
    }
}

.bannerRight {
    p {

        @include mediaDesktop {
            font-size: 46px;
        }

        @include mediaTabPortrait {
            font-size: 42px ;
        }
        @media (max-width : 425px) {
            font-size: 28px;
        }

        @media (max-width: 320px){
            font-size: 22px;
        }
    }
}