.header {
  @apply flex fixed w-full h-fit z-50;
  padding-block: 10px;

  &__content {
    @apply flex justify-between items-center static;
    padding-block: 0;

    .btn {
      @apply hidden;
      @screen lg {
        @apply flex;
      }
    }

    &-nav {
      @apply hidden;
      gap: 50px;

      @screen lg {
        @apply flex;
      }

      .link {
        @apply flex text-white items-center cursor-pointer;
        gap: 10px;
        transition: 0.25s ease-in-out;
        border-bottom: 1px solid transparent;
        &.active {
          @apply border-yellow text-yellow;

          &::before {
            scale: 1;
            @apply bg-yellow;
          }
        }

        &::before {
          content: "";
          width: 4px;
          aspect-ratio: 1/1;
          @apply bg-white rounded-full;
          scale: 0.5;
          transition: 0.25s ease-in-out;
        }

        &:hover {
          &::before {
            scale: 1;
            @apply bg-yellow;
          }
        }
      }

    }

    &-nav_mobile {
      @apply flex flex-col items-center w-full absolute left-0 top-0 text-white -z-10;
      gap: 20px;
      padding-block: 150px 80px;
      backdrop-filter: blur(8px);
      box-shadow: 1px 2px 20px rgba(#8d8d8d, 0.2);
      transform: translateY(-100%);
      transition: 0.3s ease-in-out;

      @screen lg {
        @apply hidden;
      }

      .btn {
        @apply flex;
      }

      &.active {
        transform: translateY(0)
      }

      .link {
        @apply flex text-white items-center cursor-pointer;
        gap: 10px;
        transition: 0.25s ease-in-out;
        border-bottom: 1px solid transparent;

        &.active {
          @apply border-yellow text-yellow;

          &::before {
            scale: 1;
            @apply bg-yellow;
          }
        }

        &::before {
          content: "";
          width: 4px;
          aspect-ratio: 1/1;
          @apply bg-white rounded-full;
          scale: 0.5;
          transition: 0.25s ease-in-out;
        }

        &:hover {
          &::before {
            scale: 1;
            @apply bg-yellow;
          }
        }
      }

    }

    &-menu {
      @apply flex flex-col relative cursor-pointer;
      gap: 6px;
      width: 25px;
      height: 20px;
      span {
        transition: 0.3s ease-in-out;
      }
      @screen lg {
        @apply hidden;
      }

      &.active {
        span {
						@apply absolute top-1/2;

						&:nth-child(1) {
							transform: rotate(45deg);
						}

						&:nth-child(3) {
							transform: rotate(-45deg);
						}

						&:nth-child(2) {
							opacity: 0;
							transition: 0s;
						}
        }
      }

      span {
        width: 25px;
        height: 2px;
        @apply bg-white;
      }
    }
  }
}