@import '../../../app/mixins';

.section_home {
    width: 100vw;
    height: 100vh;
    @include flex (center, center, row);
    padding-bottom: 130px;
    column-gap: 100px;

    @media (max-width : 375px) {
        height: fit-content;
        @include flex (start, center, column);
        row-gap: 10px;
        padding: 84px 0 20px 0;
        
    }

    @media (min-width : 1441px) {
        column-gap: 150px;
    }

    // @keyframes borderAnimation {
    //     0% {
    //         border-radius: 60% 40% 35% 70% /60% 40% 70% 40%;
    //     }

    //     25% {
    //         border-radius: 35% 65% 60% 40% / 50% 40% 35% 40%;
    //     }

    //     50% {
    //         border-radius: 60% 40% 35% 70% /60% 40% 70% 40%;
    //     }

    //     75% {
    //         border-radius: 50% 40% 35% 60% / 35% 65% 50% 40%;
    //     }

    //     100% {
    //         border-radius: 60% 40% 35% 70% /60% 40% 70% 40%;

    //     }
    // }

    // &__left {
    //     width: 300px;
    //     height: 323px;
    //     margin-left: 50px;
    //     // Work
    //     border-radius: 60% 40% 35% 70% /60% 40% 70% 40%;
    //     border: 2px solid rgba(0, 0, 0, 0.25);
    //     animation: borderAnimation 9s ease infinite;
    //     overflow: hidden;

    // }

    img {
        margin-bottom: 60px;

        @media (max-width : 375px) {
            width: 234px;
            height: 215px;
        }
    }

    &__right {
        // margin-left: 20px;
        width: fit-content;
        height: fit-content;
        @include flex (start, start, column);
        row-gap: 20px;

        @media (max-width : 375px) {
            row-gap: 12px;
            // margin-left: 0;

        }

        h1 {
            height: fit-content;
            width: 644px;
            line-height: 65px;
            font-size: 63px;
            font-weight: 800;
            letter-spacing: text-space(60, 17);
            @include text-linear-primary;

            @media (min-width : 1441px) {
                font-size: 69px;
                width: 682px;
            }

            @media (max-width : 375px) {
                font-size: 28px;
                width: 282px;
                line-height: 32px;
                letter-spacing: text-space(28, 16);
            }
        }

        p {
            width: 530px;
            height: fit-content;
            font-size: 14.3px;
            font-weight: 700;
            color: $gray-secondary;
            letter-spacing: text-space(14.3, 3);

            @media (max-width : 375px) {
                font-size: 10px;
                width: 282px;
                letter-spacing: 0;
            }

            span {
                @include text-linear-primary;
            }
        }

        .container_button {
            @include flex (start, center, row);
            column-gap: 25px;
            margin-top: 20px;
            @media (max-width : 375px) {
                margin-top: 8px;
                width: 100%;
                justify-content: center;
            }
        }

    }
}