@import '../../../app/mixins';

.section_home {
    width: 100%;
    min-height: 100vh;
    @include flex (center, center, row);
    padding-bottom: 100px;
    column-gap: 100px;
    position: relative;

    @media (min-width : 1441px) {
        column-gap: 150px;
    }

    @include mediaDesktop {
        overflow-x: hidden;
    }

    @include mediaTabPortrait {
        @include flex (start, center, column);
        row-gap: 30px;
        padding: 0 36px;
        padding-top: 84px;
    }

    @media (max-width : 375px) {
        height: fit-content;
        row-gap: 10px;
        padding: 84px 0 60px 0;
    }

    .img {
        margin-bottom: 60px;

        @media (max-width : 375px) {
            width: 234px;
            height: 215px;
        }
    }

    &__right {
        // margin-left: 20px;
        width: fit-content;
        height: fit-content;
        @include flex (start, start, column);
        row-gap: 20px;

        @include mediaTabPortrait {
            width: 100%;
            @include flex (center, center, column);
            padding: 0 25px;
        }

        @media (max-width : 375px) {
            row-gap: 12px;
            // margin-left: 0;

        }

        h1 {
            height: fit-content;
            width: 644px;
            line-height: 65px;
            font-size: 63px;
            font-weight: 800;
            letter-spacing: text-space(60, 17);
            @include text-linear-primary;

            @media (min-width : 1441px) {
                font-size: 69px;
                width: 682px;
            }

            @include mediaDesktop {
                font-size: 58px;
                letter-spacing: text-space(58, 8);
            }

            @include mediaTabPortrait {
                font-size: 50px;
                text-align: center;
                letter-spacing: text-space(58, 8);
            }

            @media (max-width : 375px) {
                font-size: 28px;
                width: 282px;
                line-height: 32px;
                letter-spacing: text-space(28, 16);
            }
        }

        p {
            width: 530px;
            height: fit-content;
            font-size: 14.3px;
            font-weight: 700;
            color: $gray-secondary;
            letter-spacing: 1px;

            @media (max-width : 375px) {
                font-size: 10px;
                width: 282px;
                letter-spacing: 0;
            }

            span {
                @include text-linear-primary;
            }

            @include mediaTabPortrait {
                font-size: 14px;
                letter-spacing: 0.5px;
                width: 510px;
            }

            @media (max-width : 375px) {
                width: 100%;
                letter-spacing: 0.3px;
            }
        }

        .container_button {
            @include flex (start, center, row);
            column-gap: 25px;
            margin-top: 20px;

            @media (max-width : 375px) {
                margin-top: 8px;
                width: 100%;
                justify-content: center;
            }
        }

    }
}