@import "../../../app/mixins";

.logo_container {
    width: 100px;
    height: 100px;
    @include flex(center, center, row);
    border: 1px dashed $black-25;
    border-radius: 50%;
    position: relative;

    @include mediaTabPortrait {
        width: 85px;
        height: 85px;
    }

    ;

    @media (max-width: 375px) {
        width: fit-content;
        height: fit-content;
        padding: 18px;
    }

    ;

    img {

        @include mediaTabPortrait {
            scale: 0.8;
        }

        @media (max-width: 375px) {
            width: 46px;
            height: 46px;
        }
    }
}