.card-project {
  @apply w-full flex flex-col justify-between items-center;
  font-family: "Montserrat";
  @apply flex-col;
  gap: 30px;
  @screen lg {
    @apply items-start;
  }
  @screen lg {
    @apply flex-row;
  }
  @screen xl {
    gap : 100px;
  }
  &_image-cont{
    @apply w-full;
    background-color: #D9D9D9;
    height: 170px;  
    border-radius: 50px 0 50px;

    img {
      @apply w-full h-full object-cover;
      border-radius: 50px 0 50px;
    }
    @screen md {
      height: 210px;
    }
    @screen xl {
      height: 300px;
    }
  }
  &_text {
    @apply w-full h-full flex flex-col justify-start;
    padding-left: 20px;
    gap: 10px;
    @screen lg {
      padding-top: 20px;
    }
    @screen xl {
      @apply h-full;
    }
    h4 {
      @apply text-2xl font-semibold uppercase text-yellow;
      font-family: "Mogra"
    }
    p{
      @apply text-white font-medium text-sm;
      @screen md {
        @apply text-base;
      }
    }
  }
}