.background {
  background-image: url("/hero.png");
  @apply w-full h-screen fixed top-0 left-0 right-0 bg-cover -z-10 grid
  grid-cols-6;
  background-position: center;
  background-color: black;
  @screen lg {
    @apply grid-cols-10;
  }
  @screen 2xl {
    @apply grid-cols-12;
  }
  span {
    border: 1px solid black;
  }
}